<template>
  <div class="column">

    <div class="row-responsive">
      <div class="block block-fw block-transparent mb-0">
        <h1 class="section-title">RENASWAP</h1>
      </div>
    </div>

  <div class="row-responsive">
      <div class="block-fw block-transparent">
        <div class="button-dropdown"><h2 class="">ABOUT</h2>
        <p class="drop-arrow">▼</p>
        </div>
      </div>
    </div>

    <div class="row-responsive">

      
      <div class="block">
        <h1 class="cur-heading">BUY RENA</h1>

      <div class="swap-module">
        


        <div class="cur-col">
          <div class="cur-row">
            <div class="swap-inputs row">

              <div class="cur-col">
                <h2 class="cur-title">ETH</h2>
                <div class="cur-input">
                  <input class="max-row" type="text">
                  <div class="cur-max">MAX</div>
                </div>
              </div>
              <div class="cur-col mx-1 swap-arrow"><h1>⯈</h1></div>
              <div class="cur-col">
                <h2 class="cur-title">RENA</h2>
                <div class="cur-input">
                  <input type="text">
                </div>
              </div>
              
              </div>
            <div class="swap-button"><h2> SWAP</h2></div>
          </div>
          <div class="cur-row data-row">
            <h3>PRICE</h3>
            <h3>212.3456 RENA per ETH</h3>
          </div>
          <div class="cur-row data-row">
            <h3>POOLED</h3>
            <h3>121 rETH / 352 RENA</h3>
            </div>
        </div>





        <div class="cur-row">
          <div class="swap-inputs row">

            <div class="cur-col">
              <h2 class="cur-title">ITS</h2>
              <div class="cur-input">
                <input class="max-row" type="text">
                <div class="cur-max">MAX</div>
              </div>
            </div>
            <div class="cur-col mx-1 swap-arrow"><h1>⯈</h1></div>
            <div class="cur-col">
              <h2 class="cur-title">RENA</h2>
              <div class="cur-input">
                <input type="text">
              </div>
            </div>
            
            </div>
          <div class="swap-button"><h2> SWAP</h2></div>
        </div>


      </div>


  </div>

 
      
      <div class="block">
        <h1 class="cur-heading">BUY ITS</h1>

      <div class="swap-module">
        
        <div class="cur-col">
        <div class="cur-row">
          <div class="swap-inputs row">

            <div class="cur-col">
              <h2 class="cur-title">ETH</h2>
              <div class="cur-input">
                <input class="max-row" type="text">
                <div class="cur-max">MAX</div>
              </div>
            </div>
            <div class="cur-col mx-1 swap-arrow"><h1>⯈</h1></div>
            <div class="cur-col">
              <h2 class="cur-title">ITS</h2>
              <div class="cur-input">
                <input type="text">
              </div>
            </div>
            
            </div>
          <div class="swap-button"><h2> SWAP</h2></div>
        </div>
 <div class="cur-row data-row">
            <h3>PRICE</h3>
            <h3>$234.234 USD</h3>
          </div>
          <div class="cur-row data-row">
            <h3>POOLED</h3>
            <h3> $700,739.88</h3>
            </div>
</div>
        
    <div class="cur-row">
          <div class="swap-inputs row">

            <div class="cur-col">
              <h2 class="cur-title">RENA</h2>
              <div class="cur-input">
                <input class="max-row" type="text">
                <div class="cur-max">MAX</div>
              </div>
            </div>
            <div class="cur-col mx-1 swap-arrow"><h1>⯈</h1></div>
            <div class="cur-col">
              <h2 class="cur-title">ITS</h2>
              <div class="cur-input">
                <input type="text">
              </div>
            </div>
            
            </div>
          <div class="swap-button"><h2> SWAP</h2></div>
        </div>
   </div>
  </div>
</div>




    
    <div class="row-responsive">


<div class="block"><h2>BUY TBD</h2>

  <div class="value"><input type="text"></div>
  </div>

<div class="block"><h2>BUY TBD</h2>

  <div class="value"><input type="text"></div>

  </div>
</div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      form: {
        asset: '',
        quantity: '',
        strike: '',
        expiry: ''
      },
      modalLoginOpen: false,
      modalMakePotionOpen: false
    };
  },
  computed: {
    ...mapState(['settings']),
    isValid() {
      return (
        this.form.asset && parseFloat(this.form.quantity) && this.form.strike && this.form.expiry
      );
    },
    maxStrike() {
      const exchangeRate = this.settings.exchangeRates[this.form.asset];
      return exchangeRate && exchangeRate.usd ? exchangeRate.usd : 1e9;
    }
  },
  methods: {
    handleSubmit() {
      this.modalMakePotionOpen = true;
    }
  }
};
</script>
