@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support/index.scss';
@import './assets/fonts/iconfont.css';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
$primary: #eeeeeeaa;
$secondary: #111111aa;
$bg-gradiant: radial-gradient(#edfdff 0%, #e9faffa3 100%);
$bg-topnav: #e9faffcc;
$bg-color: #999999;
$bg-disabled: #000000;
$text-disabled: #666274;

$body-font-size: 1.2rem;
$border-radius: 0.5rem;
$h1-size: 3rem;
$body-line-height: 1.2;
$border: 1px solid $bg-color;

@font-face {font-family: 'Europa-Regular';
  src: url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.eot');
  src: url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.woff2') format('woff2'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.woff') format('woff'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.ttf') format('truetype'),
  url('./assets/fonts/23c0fcab84d99da0de762de7e220a6e1.svg#Europa Regular') format('svg');
}

@font-face {font-family: 'Europa-Bold';
  src: url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.eot');
  src: url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.woff2') format('woff2'),
  url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.woff') format('woff'),
  url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.ttf') format('truetype'),
  url('./assets/fonts/d3bfee78e8ead45d9057a95bb6ff5de8.svg#Europa-Bold') format('svg');
}

@font-face { font-family: 'funky';
  src: url('./assets/fonts/FunkyRundkopfTwoNF.ttf');
}

@font-face {font-family: 'elite';
  src: url('./assets/fonts/elitedangerbold.ttf');
}

* {
  outline: none;
}

@import '~@primer/css/index.scss';

html, body, #app {
  text-align: center;@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
  font-family: 'Jura', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
overflow-x:hidden;
background-size: cover;
background-attachment:fixed;
background-blend-mode: difference;
animation:flow 20s ease infinite;
color:#464646;
}

@keyframes flow {
  0%{background-color:#5912ff99;
  }  
  50%{background-color:#8d12ff99;
  }
  100%{background-color:#5912ff99;
  }
}
@keyframes sieze{
  0%{animation:flow 1ms ease infinite;
  }
  50%{animation:flow 1000ms ease infinite;
  }
  100%{animation:flow 1ms ease infinite;
  }
}

.lg-txt{
  left: 50%;
  right: 50%;
  position: relative;
  font-size:3.5rem;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:2px 2px $primary}

.background2{
  overflow:hidden;
  height: calc(100vh + 52px);
  width: 100vw;
  position: fixed;
  top: -52px;
  z-index: 0;
  bottom: -32px;
  background-color: $primary;
  mix-blend-mode: hard-light;
  filter:saturate(8) hue-rotate(340deg) contrast(1) brightness(1) invert(1);
  }
vue-particles{
  position:fixed;
}

#app {
  position:relative;
  letter-spacing:2px;
  z-index:1;
  display:flex;
  flex-flow:column;
  mix-blend-mode:hard-light;
  background:rgba(255, 255, 255, 1);
  justify-content: flex-start;
  background-size:contain;
  animation: shift 10s linear infinite;
  padding-bottom:4rem;
  min-height: 100vh;
  filter:invert(1);
}
@keyframes shift{

  0%{background-position-x:0%;}

  100%{background-position-x:100%;}
}


h1, h2, h3, .button {
  font-family: 'Jura', sans-serif;
  text-shadow:0px 0.5px 2px $secondary;
      max-width:80vw;}
  h2{font-weight:800;}
  h2{font-size:2.5rem;font-weight:200;}
  h3{font-size:1.5rem;font-weight:400;}
h6 {
  color: $bg-color;
  font-size: 14px;
  font-weight: normal;

  a {
    color: $primary;
    text-decoration: underline;
  }
}
a {
  cursor: pointer;
  color: primary;

  &:hover {
    text-decoration: none;
  }
}
p{max-width:80vw;font-size:1.5rem;}
.bg-topnav {
  padding:1rem 0rem;
  height: 10rem;
  width: 100vw;
  /*background-image: linear-gradient(45deg, 
  transparent 0%, 
  transparent calc(100% - 8rem), 
  black calc(100% - 8rem), 
  black calc(100% - 7rem),
  transparent calc(100% - 7rem), 
  transparent calc(100% - 6rem), 
  black calc(100% - 6rem), 
  black calc(100% - 5rem),
  transparent calc(100% - 5rem), 
  transparent calc(100% - 4rem), 
  black calc(100% - 4rem), 
  black calc(100% - 3rem),
  transparent calc(100% - 3rem), 
  transparent 100%);*/
  display:flex;flex-flow:row;
}

.bg-secondary {
  background-color: $secondary;
}

.m-a{margin:auto;}

.inv-txt{  
  filter:invert(1);
}

.img-inv{
  width:64px;
  opacity:0.5;
}

.img-cen{
  margin-right:auto;
  margin-left:auto;
}
.stake-column{
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  min-width:100px;
}
.staked-title{
  h1{font-size:5rem;}
  width:100%;
  margin:1rem auto;
  position:relative;
}
.sale-row{
  display:flex;
  flex-flow:wrap;justify-content:center;}
.stake-row{
  display:flex;
  flex-flow:row;
  justify-content:space-between;
  width:100%;
}
.staked-value{
  width:max-content;
}
.stake-b{
  margin-top:2rem;
  border-top:1px solid #ffffff;
}
.claim-box{
  width:max-content;
  margin:auto;
  border-top-width:0px;
  padding:1rem;
}
.stake-button{
  @extend .button;
  border:1px solid $secondary;
  display:flex;
  flex-flow:wrap;
  justify-content:center;
}

.presale-block{
  @extend .m-4;
  width:300px;
  flex-flow:column;
  overflow:hidden;
  display:flex;
  justify-content:space-between;
  height:500px;
  border-radius:1rem;
  border:3px solid #000000bd;
  box-shadow: 0px 4px #000000bd, 0px 2px 20px #0002;
}

.reserve-button{
  @extend .button-outline;
  @extend .mb-8;
}

.pre-ether{display:flex;flex-flow:column;}

.pre-people{display:flex;flex-flow:column;}

.total-cont{@extend .mt-6;display:flex;flex-flow:row;justify-content:space-around;}

.pre-icon{
  width:32px;
  margin:auto;
}

.pre-top{
  @extend .pb-6;
  @extend .pt-4;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 0% 100%);
  background-color:#000000bd;
}

.preshare-row{
  @extend .px-3;

  display:flex;
  flex-flow:row;
  justify-content:space-between;
}

.pre-bottom{
  @extend .py-4;
}

.yourshare{
  p{font-size:1rem;text-align:left;}
}

.yourcontrib{
  p{font-size:1rem;text-align:right;}

}

.pre-date{
  @extend .mt-2;
  color:white;
  font-size:3rem;
  font-weight:800;
}

.pre-val{
  @extend .my-2;
  color:white;
}

.stake-bubble-wrap{
  display:flex;
  flex-flow:column;
  justify-content:center;
}
.capital{
  text-transform: capitalize;
}

.quant{
  font-size:4rem;
  font-weight:800;
text-shadow:1px 1px 15px #000000bd;
}
.renaval{
  @extend .mx-2;
  font-weight:800;
  color:#6f6f6f;}
  .timeval{
    @extend .renaval;
  }
.stake-bubble{
  @extend .mb-8;
  border-radius:200px;
  box-shadow: inset 5px 5px 20px #3335, -5px -5px 20px #3335;
  width:400px;
  height:400px;
  padding:2rem;
  display:flex;
  flex-flow:column;
  overflow:hidden;
  transition:transform 100ms, box-shadow 200ms ease;
  justify-content:center;
  &h2{font-size:3rem;}
  &:hover{
    box-shadow: inset -5px -5px 20px #3335, 5px 5px 20px #3335;
  }
}

.stake-main{
  display:flex;
  flex-flow:column;
  justify-content:center;
}

.ex-box{
  @extend .mt-4;
  @extend .mb-0;
  display: flex;
  flex-flow: row;
  padding: 1rem;
  border-radius:8px;
  margin: 1rem 0rem;
  background:$primary;
  border: 2px solid $secondary;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  max-width: 368px;
}
.button-small{
  width:max-content;
  margin:auto;
  height:auto!important;
  padding:1rem!important;
}


@keyframes bounce{
  0%{transform:translatey(0px);}
  0%{transform:translatey(2px);}
  0%{transform:translatey(0px);}
  0%{transform:translatey(2px);}
  0%{transform:translatey(0px);}
}
.button-dropdown{
  &:hover{
    cursor:pointer;
    &p{animation:bounce 1s linear;}

  }

}
.row{display:flex;flex-flow:row;justify-content:center;}

.button {
  cursor: pointer;
  font-weight: bold;
  min-width: 200px;
  padding: 0 24px;
  display: inline-block;
  border: 0;

  &:disabled {
    color: $text-disabled;
    background-color: $bg-topnav;
    border: 0;
    cursor: not-allowed;
  }
}
.light-text{font-weight:100;}

.button-primary {
  margin:auto;
  height: 3rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: $secondary;
  border-radius:8px;
  box-shadow:0px 3px 5px rgba(0,0,0,0.2);
  transition:box-shadow 100ms, transform 100ms linear;
  border:3px solid $secondary;
  &:hover {
    color: $primary;    
    transform:translatey(2px);

    background-color: $secondary; 
    box-shadow:0px 1px 0px #303030;

   }
}

.ta-l{
  text-align:left;
}
.input-background{
  background-color:#aaaaaa;
}
.block-transparent{    
  background: unset!important;
  border: none!important;
  box-shadow: unset!important;
}
.stake-row{
  display:flex;
  flex-flow:row;
  width:inherit;
  padding: 0.5rem 0.5rem;
}

.button-outline {
  @extend .button-primary;
  color: $secondary;
  font-weight:bold;
  padding:0px 1rem;
  margin:1rem!important;
  transition:color 100ms, background-color 100ms linear;
  &:hover{
    cursor:pointer;
    color: $primary;
    background-color: $secondary;

  }
}
.button-mini{
  height: 3rem;
  line-height: 2.6rem;
}
.stake-title{
  padding-right:0.5rem;
}
.section-title{
  font-size:5rem;
}

.button-outline-sm {
  height: 42px;
  line-height: 38px;
  border-radius:8px;
  font-size: 15px;
  text-transform: uppercase;
  color: $secondary;
  background-color: $primary;
  padding:0px 1rem;
  transition:box-shadow 100ms ease;
  cursor:pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
  border:3px solid #0005;
}
.fw{
  width:inherit;
}
.button-center{
  max-width: 200px;
  margin: 1rem auto;}

.button-outline-sm:hover {    
  color: $primary;
  background-color: $secondary;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.2);

}
.light-text{font-weight:lighter;}
.home-logo{
  @extend .logo;width:400px!important;
  @extend .mt-6;
  @extend .mb-3;
  max-width:70vw;
  box-shadow:0px 0px 20px white, 0px 0px 200px;
}
.column-centered{display:flex;flex-flow:column;justify-content:center;}
.light-title{color:$primary!important;}
.ul{padding-bottom:1rem;
  max-width: max-content;
  margin:1rem auto;
 }
.main-title{
font-weight: bold;
text-shadow: 0px 0px 50px white;
font-size: 4rem;
letter-spacing: 3rem;
padding-left:16px;
}
.button-info {
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  color: white;
  background-color: $secondary;
  min-width: auto;
  border-radius:0.5rem;
}
.tick-sym{
  border-radius:50%;
  height:60px;
  filter:invert(1); 
  padding:2px;
  margin:auto 8px;
  transition:filter 100ms linear;
  &:hover{      
    filter:invert(0); 

  }
}
.cur-input{
  background-color: #848484ab;
  padding: 1rem;
  width: min-content;
  display:flex;flex-flow:row;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  input.max-row{
    margin-right:unset!important;
    border-bottom-right-radius:unset;
    border-top-right-radius:unset;
    max-width:148px;
  }
}
.cur-max{border-top-left-radius:0px;
  height:3rem;
  padding:0px 8px;
  margin:auto 0px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  background:$primary;
  color:$secondary;
  display:flex;
    flex-flow:column;
  justify-content:center;
  &:hover{
    cursor:pointer;
    background:$secondary;
    color:$primary;}
}

.cur-title{
  @extend .py-2;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border:3px solid #848484ab ;
  background-color: white;
  border-bottom:unset;
}
.cur-heading{
  @extend .mb-8; 
}
.swap-inputs{height:auto;}
.swap-button{
  margin:0rem 1rem;
  margin-right:unset;
  background:$primary;
  border-radius:1rem;
  display:flex;
  flex-flow:column;
  color:$secondary;
  justify-content:center;
  padding:2rem;
  border:3px solid #848484ab;
  width:auto;height:auto;
  h2{  font-weight:bolder;
  }
  &:hover{
    cursor:pointer;  
    border:3px solid ;
    background-color:#848484ab;
    color:$primary;}
}

.cur-row{
  @extend .mb-3;
  margin:auto;
  display:flex;
  flex-flow:row;
  justify-content:space-between;}

.cur-col{
  min-height:124px;
  width: auto;
  display:flex;
  flex-flow:column;
}
.swap-arrow{
  display:flex;
  flex-flow:column;
  justify-content:center;
  padding:1rem;
  margin:auto;
  width:100%;}

.button-select {
  color: white;
  height: 54px;
  line-height: 54px;
  padding: 0 18px;
  border-radius: 8px;;
  background-color: $secondary;
  
  &.active {
    box-shadow: inset 0 0 0 3px $primary;
  }
}
.ticker{    
  display: flex;
  margin: auto;
  color:white;
  line-height: 64px;
  text-shadow:unset;
  font-weight:200;
  filter:invert(0.9);
  transition:text-shadow 100ms linear;
  &:hover{
    filter:invert(0.7);      
  }
}

.login-bullet {
  width: 14px;
  height: 14px;
  background-color: $primary;
  display: inline-block;
  margin-bottom: -2px;
}
.logo-static{  width: 128px;
}
.logo{
  margin: auto;
  width: 256px;
  padding:1rem;
  border-radius:50%;
  opacity:0.5;
  transition:transform 200ms, box-shadow 200ms linear;
  &:hover{
    transform:scale(1.1);
    box-shadow:0px 0px 50px white;}
}
@keyframes logo-glow{
  0%{  filter: invert(0%)sepia(100%)brightness(100%)blur(2px);
  }
  50%{  filter: invert(0.2)sepia(00%)brightness(90%)blur(1px);
  }
  100%{  filter: invert(0%)sepia(100%)brightness(100%)blur(2px);
  }
}

.mainnav {
  min-height: 3rem;
  line-height: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top:1rem;
  mix-blend-mode:difference;
  box-shadow:0px 0px 20px rgba(0,0,0,0.1);
  padding: 1rem 4rem;
  z-index: 2;
  position: relative;
  max-width:100%;
}
.prog-title{min-width:250px;text-align:left;}
.prog-row{
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
}

.button-secondary {
  height: 2rem;
  letter-spacing:2px;
  line-height: 2rem;
  font-size: 2rem;
  font-weight:400;
  margin:0rem 1rem;
  color: white;
  transition:color 100ms linear;
    background-color: transparent;
  &:hover{color:#aaa;}
  &.router-link-exact-active {
    color: #878787;
    font-weight:bolder;

  }
}

.row-responsive{
  display:flex;
  flex-flow:row;
  justify-content:center;
  width:1000px;
  max-width:100vw;
  margin:auto;
 &:nth-child(1){ 
 }
}
.wrap-responsive{
  display:flex;
  flex-flow:wrap;
  justify-content:center;
  width:1500px;
  max-width:100vw;
  margin:auto;

}


.stake-row{
  justify-content: space-between;
}

.column{
  display:flex;
  flex-flow:column;
  justify-content:space-between;
}

.form {
  max-width: 368px;
  margin: 0 auto;
  border:3px solid $secondary;
  background:$secondary;
  border-radius:10px;
  box-shadow:0px 0px 10px $secondary
}
.value{
  font-weight:bold;
  font-size:2rem;
  text-shadow:0px 1px 0px rgba(0,0,0,0.8);}
.button-fw
{width:-moz-available;
  width:available;
}
.input-row{
  margin:0px 0.5rem;
  max-width:150px;
}

.input-row-outlined{
  margin:0px 0.5rem; 
   border: 2px solid white;
  width:auto;
}

.input {
  box-shadow:inset 0px 0px 2px #FFFFFF6B, 0px 0px 2px #FFFFFF6B;
  text-align: left;
  border: 2px solid rgba(255,255,255,0.2);
  background: transparent;
  outline: none;
  display: block;
  border-radius:8px;
  height: 44px;
  line-height: 44px;
  font-size: 1rem;
  padding: 0 14px;
  color: white;
  width: 100%;

  &:focus {
    border-color: $bg-color;
  }
}

input.input:read-only {
  color: $text-disabled;
  border-color: $text-disabled;
  cursor: not-allowed;
}

::placeholder {
  color: white;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border: 0;
  background-clip: padding-box;

  &:hover {
    background-color: white;
  }
}
@keyframes glow{
  0%{    text-shadow:1px 1px 0.5px #0206ec,0px 0px 0px ;
}
  50%{    text-shadow:1px 1px 0.5px #0206ec ,0px 0px 20px ;
}
  100%{    text-shadow:1px 1px 0.5px #0206ec ,0px 0px 0px ;
}}
input{
  @extend .mx-2;
  @extend .my-2;
  @extend .px-2;
  @extend .py-2;
  height:3rem;
  border: 3px solid $secondary;  
  border-radius:8px;
  box-shadow:inset 0px 0px 10px #1111112b;
  color:primary;
  font-size:2rem;
  background-color:#939393;
   max-width:200px;
  &:focus{background-color:$secondary;
  color:$primary;}
}

.data-row{
  justify-content: space-between;
  width:100%;
}

.block-fw{
  min-width:40%;
  max-width:unset;
}
.block-transparent{
  background-image:unset;
  background-color:unset;
}

.block-outline{  
  @extend .block;
  @extend .mb-8;
}

.block {
  //@extend .container-sm;
  @extend .py-6;
  @extend .px-4;
  @extend .my-3;
  border-radius:20px;
  margin-left:1rem;
  animation:breath 7s ease infinite;
  margin-right:1rem;
  margin-bottom:2rem;
  height:auto;
  justify-content: center;
  display: flex;
  flex-flow: column;
  transition:transform 100ms, box-shadow 100ms linear;
  //clip-path: polygon(100% 0, 100% 3rem, calc(100% - 1rem) 4rem, calc(100% - 1rem) calc(100% - 5rem), 100% calc(100% - 4rem), 100% 100%, 1rem 100%, 0 calc(100% - 1rem), 0 1rem, 1rem 0);
  p {
    max-width: 800px;
    margin: 0 auto;
  }
  
  ///&:nth-child(even){  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%, 0 calc(100% - 1rem), 1rem calc(100% - 2rem), 1rem 2rem, 0 1rem);
  ///}
  ///&:nth-child(3n - 2){    clip-path: polygon(calc(100% - 1rem), calc(100% - 1rem) 2rem, 100% 2rem, 100% calc(100% - 2rem), calc(100% - 1rem) calc(100% - 2rem), calc(100% - 1rem) 100%, 1rem 100%, 0 calc(100% - 1rem), 0 1rem, 11% 0);    ;
  ///}

}

@keyframes breath{
  0%{filter:brightness(1)}
  50%{filter:brightness(1.1)}
  100%{filter:brightness(1)}
}

.block-row{
  width:1000px!important;
  max-width:unset!important;
}

.container-lg {
  max-width: 1086px;
}

.container-sm {
  max-width: 500px;
}

.flex-row{
  display:flex;flex-flow:row;justify-content:center;
}

.modal {
  filter:invert(1);
  background-color:black;
  .backdrop {
    background: transparentize($secondary, 0.4) !important;
  }

  .shell {
    @extend .block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 420px;

    .modal-body {
      text-align: center !important;
    }
  }

  .button {
    width: 100%;
    min-width: auto;
  }

  .button-outline {
    max-width: 50%;
  }
}

.claim-row{display:flex;flex-flow:row;width:100%;}

.text-primary {
  color: $primary;
}

.vue-ui-switch {
  &.selected {
    .wrapper {
      background-color: $primary !important;
    }

    .bullet {
      margin-left: 21px !important;
    }
  }

  .wrapper {
    width: 42px !important;
    height: 20px !important;
    border-radius: 10px !important;
    background-color: $secondary !important;

    .bullet {
      width: 18px !important;
      height: 18px !important;
      border-radius: 9px !important;
      background-color: white !important;
    }
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize(white, 0.8);
    border-width: 4px !important;
    width: 26px !important;
    height: 26px !important;
    border-right-color: white;
  }
}

.loading-lg {
  .animation {
    border-color: transparent;
    border-right-color: $primary;
    border-width: 8px !important;
    width: 124px !important;
    height: 124px !important;
  }
}

.calendar {
  width: 309px;
  margin: 0 auto;

  .day {
    color: $text-disabled;
    text-decoration: none;
    font-size: 17px !important;
    float: left;
    text-align: center;
    line-height: 44px;
    width: 44px;
    height: 44px;

    &.selectable {
      color: white;
      background-color: transparent;

      :hover {
        background-color: $bg-color;
      }
    }

    &.selected {
      background-color: $bg-color;
      color: white;
    }
  }
}

.highlight:hover {
  background-color: $secondary;
}

@media screen and (max-width:1300px){
  .row{flex-flow:column;margin:auto;}
  .stake-bubble-wrap{
    justify-content:space-around;
    flex-flow:row;
    width:100%;
  }
  .swap-inputs{margin:revert!important;}
  .stake-row{    
    display: flex;
    width: inherit;
    justify-content: center;}
    .swap-arrow{h1{transform:rotate(90deg);}}
    .button-secondary {
      margin:1rem;
    }
    .stake-bubble{margin:2rem;}
    .swap-button{
      h2{
        transform:rotate(90deg)scale(3);
      }
    }
    .quant {
      font-size: 3rem;
      font-weight: 800;
      text-shadow: 1px 1px 15px #000000bd;
  }
}

@media screen and (max-width:1000px) {
  .data-row{
    margin-bottom:2rem;
    justify-content:space-between!important;
    max-width:430px;}

  .main-title{
    font-weight: bold;
    text-shadow: 0px 0px 50px white;
    font-size: 2rem;
    letter-spacing: 0rem;
    padding-left:0px;
    }


  .button-outline{width: min-content;}
  h3{font-size:1rem!important;}
  h2{font-size:2rem!important;}
  h1{font-size:2.5rem!important;}
  .stake-bubble{
    width:300px;
    height:300px;
   
  }
.lg-txt{display:none;}
  .bg-topnav{
    height:unset;
    flex-flow:wrap;
  }
  .column{
    flex-flow:wrap;
  }
  .row-responsive{
    flex-flow:wrap;

  }

  .main-title{
    font-size:3rem;
  }
  .cur-row{flex-flow:wrap;
    justify-content:center;
  }
.section-title{font-size:3rem;font-weight:800!important;letter-spacing:2px;}
.button-secondary {
  height: 2rem;
  letter-spacing:2px;
  line-height: 2rem;
  font-size: 2rem;
  margin:0.5rem;
  color: $primary;
  transition:color 100ms linear;
    background-color: transparent;
  &:hover{color:#ffffff55;}
  &.router-link-exact-active {
    color: #878787;
    animation:glow 10s ease infinite;
    background-color:  transparent;

  }
}
.stake-bubble-wrap{flex-flow:wrap;}
  .tick-sym{margin-left:0px;margin-right:0px; padding:2px;}
  .mainnav{height:auto;}
  .block{margin-bottom:1rem;
    width: 100%;
    max-width: 80vw;}

  .bg-topnav{  
  }
}

@media screen and (max-width:1300px) {
  .column{
    flex-flow:wrap;
  }
  .row-responsive{
    flex-flow:wrap;

  }

}